{% extends 'example/base.html' %}
{% load static %}

{% block title %}Recommender{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="mt-5">Add Sub Variabel</h2>
        </div>
    </div>
    <form id="addRecordForm" action="{% url 'create-subvariabel' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="kode">Kode:</label>
        <input type="text" class="form-control" id="kode" name="kode" required {% if data %}value="{{data.kode}}"{%endif%}>
    </div>

    <div class="form-group">
        <label for="variabel">Variabel:</label>
        <select class="form-control" id="variabel" name="variabel" required>
            {% if variabels %}
            {% for variabel in variabels %}
            <option value="{{ variabel.nama }}">{{ variabel.nama }}</option>
            {% endfor %}
            {% endif %}
        </select>
    </div>

    <div class="form-group">
        <label for="nama">Nama:</label>
        <input type="text" class="form-control" id="nama" name="nama" required
            {% if data %}
                value="{{ data.nama }}"
            {% endif %}>
    </div>

    <div class="form-group">
        <label for="faktor">Faktor:</label>
        <select class="form-control" id="faktor" name="faktor">
            <option value="CORE" {% if data and data.faktor == 'CORE' %} selected {% endif %}>CORE</option>
            <option value="SECONDARY" {% if data and data.faktor == 'SECONDARY' %} selected {% endif %}>SECONDARY</option>
        </select>
    </div>

    <div class="form-group">
        <label for="standar">Standar:</label>
        <select class="form-control" id="standar" name="standar" required>
            <option value="">-- Pilih standar --</option>  <!-- Placeholder option -->
            <!-- Options with values 1, 2, 3, 4 -->
            <option value="1" {% if data and data.standar == '1' %}selected{% endif %}>1</option>
            <option value="2" {% if data and data.standar == '2' %}selected{% endif %}>2</option>
            <option value="3" {% if data and data.standar == '3' %}selected{% endif %}>3</option>
            <option value="4" {% if data and data.standar == '4' %}selected{% endif %}>4</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>

<!-- Bootstrap JS (optional, only needed if you want to use Bootstrap JavaScript features) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}
