<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav" style="padding: 0.5rem 1rem;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}" style="font-size: 1.5rem;">Recommender</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto" style="font-size: 1.2rem;">
                {% if user.is_authenticated %}
                <li class="nav-item mx-0 mx-lg-1 dropdown">
                    <a class="nav-link py-1 px-2 px-lg-3 rounded dropdown-toggle" href="#" role="button"
                       id="variabelDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Variabel
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="variabelDropdown">
                        <li><a class="dropdown-item" href="{% url 'create-variabel' %}">Create Variabel</a></li>
                        <li><a class="dropdown-item" href="{% url 'update-variabel' %}">Update Variabel</a></li>
                        <li><a class="dropdown-item" href="{% url 'variabel' %}">View Variabel</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-0 mx-lg-1 dropdown">
                    <a class="nav-link py-1 px-2 px-lg-3 rounded dropdown-toggle" href="#" role="button"
                       id="subVariabelDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Sub Variabel
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="subVariabelDropdown">
                        <li><a class="dropdown-item" href="{% url 'create-subvariabel' %}">Create Sub Variabel</a></li>
                        <li><a class="dropdown-item" href="{% url 'update-subvariabel' %}">Update Sub Variabel</a></li>
                        <li><a class="dropdown-item" href="{% url 'subvariabel' %}">View Sub Variabel</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-0 mx-lg-1 dropdown">
                    <a class="nav-link py-1 px-2 px-lg-3 rounded dropdown-toggle" href="#" role="button"
                       id="employeeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Employee
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="employeeDropdown">
                        <li><a class="dropdown-item" href="{% url 'create-employee' %}">Create Employee</a></li>
                        <li><a class="dropdown-item" href="{% url 'update-employee' %}">Update Employee</a></li>
                        <li><a class="dropdown-item" href="{% url 'employee' %}">View Employee</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-1 px-2 px-lg-3 rounded" href="{% url 'main' %}">Mapping</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-1 px-2 px-lg-3 rounded" href="{% url 'skor' %}">Hasil</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-1 px-2 px-lg-3 rounded"
                                                     href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-1 px-2 px-lg-3 rounded"
                                                     href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
