{% extends 'example/base.html' %}

{% block title %}Main{% endblock %}

{% block content %}
<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card">
                    <div class="card-body">
                        <div class="container">
                            <h2>Skoring Pegawai</h2>

                            <!-- ====   FORM PENGIRIMAN DATA    ==== -->
                            <form action="{% url 'main' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="name">Nama:</label>
                                    <select name="pegawai" id="nama">
                                        {% for pegawai in pegawai_list %}
                                        <option value="{{ pegawai.id_pegawai }}">{{ pegawai.nama }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% for subvar in subvar_list %}
                                <div class="form-group">

                                    <!-- Bagian input skor -->
                                    <label for="email">{{ subvar.nama }}</label>
                                    <input type="text" name="subvar[]" class="form-control" id="email">
                                    <!-- -->

                                </div>
                                {% endfor %}

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                            <!-- ====   FORM PENGIRIMAN DATA    ==== -->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

