{% extends 'example/base.html' %}
{% load static %}

{% block title %}Recommender{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="mt-5">Records</h2>
        </div>
<!--        <div class="col text-right">-->
<!--            <a href="{% url 'create-employee' %}" class="btn btn-primary mt-5">Add</a>-->
<!--        </div>-->
    </div>
    <table class="table">
        <thead>
            <tr align="center">
                <th>ID Pegawai</th>
                <th>Nama</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody id="recordList">
            {% for var in data %}
            <tr align="center">
                <td>{{ var.id_pegawai }}</td>
                <td>{{ var.nama }}</td>
                <td>
                    <a href="{% url 'actual-update-employee' var.id_pegawai %}" class="btn btn-success btn-sm delete-btn">
                        Update
                    </a>
                </td>
                <td>
                    <a href="{% url 'delete-employee' var.id_pegawai %}" class="btn btn-danger btn-sm delete-btn">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
{% endblock %}
