{% extends 'example/base.html' %}
{% load static %}

{% block title %}Recommender{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="mt-5">Records</h2>
            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Nama</th>
            <th>Faktor</th>
            <th>Persentase</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="recordList">
        {% for var in data %}
        <tr>
            <td>{{ var.nama }}</td>
            <td>{{ var.faktor }}</td>
            <td>{{ var.persentase }}</td>

<!--            Ini untuk button delete-->
            <td>
                <a href="{% url 'delete-variabel' var.nama %}" class="btn btn-danger btn-sm delete-btn">
                    Delete
                </a>
            </td>
<!--            Sampai sini-->

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
{% endblock %}
